* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1f1f1f;
  color: #ffffff;
  font-family: 'Georgia', serif;
  line-height: 1.6;
}

.hero {
  position: relative;
  height: 100vh;
  background: url('img/luar-neblina.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 20px;
}

.hero h1 {
  font-size: 3em;
  color: #a8a8ff;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2em;
  color: #ddd;
  font-style: italic;
}

main {
  padding: 40px 20px;
  max-width: 1000px;
  margin: 0 auto;
}

main h2 {
  color: #a8a8ff;
  margin-bottom: 10px;
  font-size: 2em;
}

section {
  margin-bottom: 60px;
}

.galeria img {
  width: 200px;
  margin: 10px;
  border-radius: 12px;
  box-shadow: 0 0 10px #000;
}